<!DOCTYPE html>
<html lang='fr'>
<head>
<meta charset='UTF-8'>
<title>Accueil - Jeddi</title>
<link rel='stylesheet' href='/static/css/style.css'>
</head>
<body>
<header>
<h1>Bienvenue dans le Monde de Jeddi</h1>
<nav>
<select onchange='location = this.value'>
<option value='/fr/accueil'>FR</option>
<option value='/en/accueil'>EN</option>
<option value='/es/accueil'>ES</option>
<option value='/de/accueil'>DE</option>
<option value='/it/accueil'>IT</option>
</select>
<a href='/fr/jeddi'>Jeddi</a>
<a href='/fr/legendes'>Légendes</a>
<a href='/fr/galerie'>Galerie</a>
<a href='/fr/don'>Don</a>
</nav>
</header>
<main>
<img src='/static/images/grimoire.png' style='width:100%;height:auto;'>
<p>Ici vous découvrirez toutes les légendes et contes.</p>
</main>
<footer>
<p>&copy; 2025 Légendes du Monde de Jeddi</p>
<img src='/static/images/licorne.gif' style='position:fixed;bottom:0;left:0;width:100px;'>
</footer>
</body>
</html>
