<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Faire un don</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <nav>
        <a href="{{ url_for('accueil') }}">Accueil</a> |
        <a href="{{ url_for('about') }}">À propos</a> |
        <a href="{{ url_for('don') }}">Faire un don</a> |
        <a href="{{ url_for('jeddi') }}">Jeddi</a> |
        <a href="{{ url_for('legendes') }}">Légendes</a>
    </nav>
    <hr>
    <h1>Faire un don au Monde de Jeddi</h1>
    <p>Page pour soutenir le projet.</p>
</body>
</html>
